.bottomContainer {
  width: 100%;
  display: grid;
  -webkit-align-items: center;
  align-items: center;
  margin: 20px 0 20px 0;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
          ". rightSide"
          ". rightSide";
  .rightSide {
    grid-area: rightSide;

  }
}