.container {
  width: 100%;
}

.button {
  padding: 8px;
}

.decisionControls {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nextQuiz {
  margin-right: 20px !important;
}

.circularProgress {
  //margin-bottom: 20px;
}

.loadingIndicatorContainer {
  //display: flex;
  width: 40px;
  height: 100%;
}
