.container {
  width: 100%;
}

.button {
  padding: 4px;
  button {
    font-size: 0.775rem;
    line-height: 1.45;
  }
}

.decisionControls {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nextQuiz {
  margin-right: 16px !important;
}

.loadingIndicatorContainer {
  width: 40px;
  height: 100%;
  margin-right: 10px;
}

.correctAnswer {
  background-color: lightgreen !important;
}

.incorrectAnswer {
  background-color: lightcoral !important;
}
