.container {
  width: 100%;
  margin: 0 40px 0 40px;
  display: flex;
  flex: 1 1 auto;
}

.score {
  width: 100px;
  display: inline-block;
}

.answer {
  width: calc(100% - 80px);
  display: inline-block;
}