.container {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  margin-top: 8px;
}

.score {
  width: 120px;
  display: inline-block;
  margin-left: 60px;
  border: 2px solid gold;
  padding: 4px;
  border-radius: 4px;
  font-weight: 500;

  .scoreIcon {
    margin-right: 8px;
  }
}

.textExplanation {
  margin-left: 8px;
  display: flex;
  align-content: center;
  justify-content: center;

  div {
    height: 1.5em;
    margin-top: 4px;
    display: inline-block;
  }
}
